{% extends "layout.html" %}

{% block title %}
    Library
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="tableheader">Task Code</th>
                <th class="tableheader">Task Description</th>

            </tr>
        </thead>
        <tbody>

                <tr>
                    <td class="td1">1</td>
                    <td class="td2"><a href="static/TTG/TTG 1 Air Transportation.pdf">Air Transportation</a></td>
                </tr>
                <tr>
                    <td class="td1">1.1</td>
                    <td class="td2"><a href="static/TTG/TTG 1.1 Career Field Progression.pdf">Career Field Progression</a></td>
                </tr>
                <tr>
                    <td class="td1">1.2</td>
                    <td class="td2"><a href="static/TTG/TTG 1.2 Organizational Structure.pdf">Organizational Structure</a></td>
                </tr>
                <tr>
                    <td class="td1">1.3</td>
                    <td class="td2"><a href="static/TTG/TTG 1.3 Types and Descriptions of Transport Aircrafts.pdf">Types and Descriptions of Transport Aircrafts</a></td>
                </tr>
                <tr>
                    <td class="td1">1.4</td>
                    <td class="td2"><a href="static/TTG/TTG 1.4 Locate and Reference Transportation Forms, Publications, and Technical Orders.pdf">Locate and Reference Transportation Forms, Publications, and Technical Orders</a></td>
                </tr>
                <tr>
                    <td class="td1">1.5</td>
                    <td class="td2"><a href="static/TTG/TTG 1.5 Inspect, Inventory, and Store 463L Pallets, Nets, and Tie Down Equipment.pdf">Inspect, Inventory, and Store 463L Pallets, Nets, and Tie Down Equipment</a></td>
                </tr>
                <tr>
                    <td class="td1">1.6</td>
                    <td class="td2"><a href="static/TTG/TTG 1.6 Build Single Pallet.pdf">Build Single Pallet</a></td>
                </tr>
                <tr>
                    <td class="td1">1.7</td>
                    <td class="td2"><a href="final/TTG/TTG 1.7 Identify Types of Shoring.pdf">Identify Types of Shoring</a></td>
                </tr>
                <tr>
                    <td class="td1">1.8</td>
                    <td class="td2"><a href="static/TTG/TTG 1.8 Perform Spotter - Chocker Duties.pdf">Perform Spotter - Chocker Duties</a></td>
                </tr>
                <tr>
                    <td class="td1">1.9</td>
                    <td class="td2"><a href="static/TTG/TTG 1.9 Vehicle Inspections.pdf">Vehicle Inspections</a></td>
                </tr>
                <tr>
                    <td class="td1">1.10</td>
                    <td class="td2"><a href="static/TTG/TTG 1.10 Perform Engine Running Off-load On-load (ERO) Operations.pdf">Perform Engine Running Off-load On-load (ERO) Operations</a></td>
                </tr>
                <tr>
                    <td class="td1">1.11</td>
                    <td class="td2"><a href="static/TTG/TTG 1.11 Air Transportation Information Systems.pdf">Air Transportation Information Systems</a></td>
                </tr>
                <tr>
                    <td class="td1">1.12</td>
                    <td class="td2"><a href="static/TTG/TTG 1.12 Compliance-Evaluation Fundamentals.pdf">Compliance-Evaluation Fundamentals</a></td>
                </tr>
        </tbody>
    </table>
{% endblock %}